/* Global Styles */
:root {
  --dark-color: #333333;
  --color-primary: #1b80e9;
  --dark-primary: #1570d1;
  --border-white: #e6e6e6;
  --yellow: #ffff80;
  --shadow: #999999;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/img/background-img.png");
  background-repeat: repeat;
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 1900px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.content {
  font-size: 1.25rem;
  margin: 1rem;
  padding: 1rem;
}

.white-background {
  background-color: rgb(246, 246, 246, 0.8);
  border: 1px solid var(--border-white);
  margin: 1rem;
  padding: 1rem;
}

.navbar {
  background-color: var(--dark-primary);
  border-bottom: 1px solid var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  padding: 0.7rem 2rem;
}

.navbar ul {
  display: flex;
  padding: 0;
}

.navbar li {
  list-style: none;
}

.navbar a:hover {
  border-bottom: 2px solid var(--yellow);
}

.navbar a {
  text-decoration: none;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:active,
.navbar a:focus {
  outline: none;
}

.navbar a,
.title {
  color: var(--yellow);
  text-shadow: 1px 1px var(--dark-color);
}

.title {
  font-size: 1.8rem;
  padding-right: 2rem;
}

.image {
  max-width: 300px;
}

.logo {
  width: 100%;
  box-shadow: 10px 10px 20px var(--shadow);
}

.round {
  border-radius: 50%;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin: 0;
    padding: 0.75rem;
  }

  .content {
    font-size: .8rem;
    margin: 0 0.5rem 1.5rem;
    padding: 0;
  }

  .content h1 {
    text-align: center;
    line-height: 1.8rem;
    margin-bottom: 1rem;
  }

  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .title {
    padding-right: 0;
    font-size: 1.5rem;
  }
}
