.favorite-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.5rem;
}

.random-user {
  display: flex;
  background-color: var(--white);
  border: 1px solid var(--border-white);
  line-height: 1.2;
  width: 250px;
  margin: 0.5rem;
  padding: 0.5rem;
}

.random-user:hover {
    background-color: rgb(230, 242, 255, 0.5);
    border: 1px solid var(--color-primary);
}

.random-user img {
  border-radius: 50%;
}

.random-user span {
  margin-left: 10px;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .favorite-list {
    padding: 0;
  }
}
