.tweet-list {
  border: 1px solid var(--border-white);
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.tweet {
  border: 1px solid var(--dark-color);
  margin: 1rem;
  padding: 1rem;
}

.tweet-list li {
  list-style-type: none;
}
