/* Global Styles */
:root {
  --dark-color: #333333;
  --gray-primary: #808080;
  --gray-darker: #666666;
  --white-font: #f6f6f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/images/background-img.png");
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  background-color: var(--gray-primary);
  border-bottom: 1px solid var(--gray-darker);
  display: flex;
  align-items: center;
  padding: 0.7rem 2rem;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
  padding: 0;
}

.navbar li {
  list-style: none;
}

.navbar li:hover{
  background-color: var(--gray-darker);
}

.navbar a {
  text-decoration: none;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a, .title {
  color: var(--white-font);
  text-shadow: 1px 1px var(--dark-color);
}

.title {
  font-size: 1.5rem;
  padding-right: 2rem;
}


/* Mobile Styles */
@media (max-width: 700px) {
  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .title {
    padding-right: 0;
  }
}

