/* Global Styles */
:root {
  --dark-color: #333333;
  --color-primary: #1b80e9;
  --dark-primary: #1570d1;
  --off-white: #f6f6f6;
  --color-lime: #ccffcc;
  --shadow: #999999;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/img/background-img.png");
  background-repeat: repeat;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 1900px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background: var(--dark-primary);
  color: var(--color-lime);
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  outline: none;
  width: 50%;
}

.container {
  background-color: rgb(246, 246, 246, 0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
  padding: 1rem;
}

.content {
  background-color: var(--off-white);
  margin: 1rem;
  padding: 2rem;
}

.form {
  width: 80%;
  text-align: center;
}

input {
  margin: 0.5rem 0;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type="submit"],
button {
  font: inherit;
}

.navbar {
  background-color: var(--color-primary);
  border-bottom: 1px solid var(--dark-primary);
  display: flex;
  align-items: center;
  padding: 0.7rem 2rem;
}

.navbar ul {
  display: flex;
  padding: 0;
}

.navbar li {
  list-style: none;
}

.navbar li:hover {
  background-color: var(--dark-primary);
}

.navbar a {
  text-decoration: none;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a,
.title {
  color: var(--color-lime);
  text-shadow: 1px 1px var(--dark-color);
}

.title {
  font-size: 1.5rem;
  padding-right: 2rem;
}

.image {
  max-width: 300px;
}

.logo {
  width: 100%;
  box-shadow: 10px 10px 20px var(--shadow);
}

.round {
  border-radius: 50%;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .btn {
    width: 100%;
  }

  .container {
    margin: 0;
    padding: 0.75rem;
  }

  .form {
    width: 100%;
  }

  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .title {
    padding-right: 0;
  }
}
