.search {
  display: block;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 1rem;
}

.btn {
  background: var(--dark-primary);
  border-radius: 5px;
  color: var(--yellow);
  padding: 0.4rem 1rem;
  border: none;
  cursor: pointer;
  outline: none;
  width: 210px;
}

.btn-right {
  justify-self: start;
}

.btn-left {
  justify-self: end;
}

input[type="text"] {
  grid-column: 1/3;
  justify-self: center;
  width: 400px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  padding: 0.4rem;
}

input[type="submit"],
button {
  font: inherit;
}

.tweet-list {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem;
}

.tweet {
  background-color: var(--white);
  border: 1px solid var(--color-primary);
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  margin: 0.5rem;
  padding: 1rem;
}

.tweet-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tweet img {
  border-radius: 50%;
  margin-right: 1rem;
}

.tweet-meta-text {
  display: flex;
  flex-wrap: wrap;
}

.tweet-text {
  padding: 0.5rem 0;
}

.counts {
  margin-left: 2rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .btn {
    width: 100%;
  }

  .btn-right,
  .btn-left {
    grid-column: 1/3;
    justify-self: center;
  }

  input[type="text"] {
    width: 100%;
    font-size: 1rem;
  }

  .tweet-list {
    padding: 0;
  }

  .tweet {
    margin: 0 0 0.5rem;
    padding: 0.5rem;
  }

  .counts {
    margin-left: 0;
    text-align: center;
  }
}
